:root {
    --light-blue: #88dffc;
    --purple: #9626c9;
    --green: #00ff00;
    --red: #ff0000;
    --dark-gray: #333333;
    --dark-blue: #0000ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--light-blue);
}



.quiz-container {
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 65%;


}

.control-buttons {
    display: flex;
    justify-content: center;
}


.quiz-container button{
    background-color: var(--purple);
    border: none;
    width: 100%;
    padding: 50px;
    color: white;
    border: 5px solid var(--dark-gray);
    margin: auto;
    border-radius: 7px;
}

.quiz-container button:hover {
    border-color: white;
}

.anwser-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,auto);
    margin-bottom: 10px;
}

.question-text-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.question-text {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.correct-incorrect-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.correct-incorrect-container span {
    font-size: x-large;
}

.correct-indicator{
    color: var(--green);
    background-color: white;
}

/* .btn {
    
    margin: 5px;
    background-color: var(--purple);
    padding: 10px;
    color: white;
    border: none;
    width: 5%;
    
} */
.hide{
    display: none;
}